    <div class="container footer__container">
        <div class="footer__row">

        <div class="footer__column">
        	<p>Заявления в электронном виде принимаются:</p>
        	<ul class="footer__list">
        		<li class="footer__list-item">
        			от студентов через портал: техподдержка &#10230; обращения &#10230; справки &#10230; выписки &#10230; заявления
        		</li>
        		<li class="footer__list-item">
        			от действующих сотрудников через заявки HelpDesk: справки &#10230; выписки &#10230; заявления»

        		</li>
        	</ul>
        	<p>Почтовый адрес для обращений внешних заявителей</p>
        </div>

        <div class="footer__column">
        	<p>График работы службы «Одно окно» по адресу ул. Введенского, д. 1А:</p>
        	<ul class="footer__list">
        		<li class="footer__list-item">
        			Будние дни с 10 до 19
        		</li>
        		<li class="footer__list-item">
        			Суббота с 10 до 17
        		</li>
        	</ul>
        	<p>Ауд. 6.19</p>
        </div>

        <div class="footer__column">
                <p class="footer__contact">
        			<span>Почта</span>
        			<a href="mailto:odnookno@mfua.ru" class="footer__link">
        				<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        					<path d="M5.33203 6.50438L7.28316 7.70731C7.92698 8.10424 8.73959 8.10424 9.38341 7.70731L11.3345 6.50438" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
        					<rect x="2.33081" y="3.3364" width="12.005" height="9.33722" rx="3" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
        				</svg>
        				<span>odnookno@mfua.ru</span>
        			</a>
                </p>
                <p class="footer__contact">
        			<span>Почта</span>
        			<a href="tel: +74952211001" class="footer__link">
        				<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        					<path fill-rule="evenodd" clip-rule="evenodd" d="M7.57064 8.76767C6.79064 7.98767 6.20264 7.11434 5.81197 6.22834C5.72931 6.04101 5.77797 5.82167 5.92264 5.67701L6.46864 5.13167C6.91598 4.68434 6.91598 4.05167 6.52531 3.66101L5.74264 2.87834C5.22197 2.35767 4.37798 2.35767 3.85731 2.87834L3.42264 3.31301C2.92864 3.80701 2.72264 4.51967 2.85598 5.22634C3.18531 6.96834 4.19731 8.87567 5.82997 10.5083C7.46264 12.141 9.36998 13.153 11.112 13.4823C11.8186 13.6157 12.5313 13.4097 13.0253 12.9157L13.4593 12.4817C13.98 11.961 13.98 11.117 13.4593 10.5963L12.6773 9.81434C12.2866 9.42367 11.6533 9.42367 11.2633 9.81434L10.6613 10.417C10.5166 10.5617 10.2973 10.6103 10.11 10.5277C9.22397 10.1363 8.35064 9.54767 7.57064 8.76767Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
        				</svg>
        				<span>8 (495) 221-10-01</span>
        			</a>
                </p>

        </div>

        </div>
    </div>

