    <div class="container footer__container">
        <div class="footer__row">

        <div class="footer__column">
        	<p>Заявления в электронном виде принимаются:</p>
        	<ul class="footer__list">
        		<li class="footer__list-item">
        			от студентов через портал: техподдержка &#10230; обращения &#10230; справки &#10230; выписки &#10230; заявления
        		</li>
        		<li class="footer__list-item">
        			от действующих сотрудников через заявки HelpDesk: справки &#10230; выписки &#10230; заявления»

        		</li>
        	</ul>
        	<p>Почтовый адрес для обращений внешних заявителей</p>
        </div>

        <div class="footer__column">
        	<p>График работы службы «Одно окно» по адресу ул. Введенского, д. 1А:</p>
        	<ul class="footer__list">
        		<li class="footer__list-item">
        			Будние дни с 10 до 19
        		</li>
        		<li class="footer__list-item">
        			Суббота с 10 до 17
        		</li>
        	</ul>
        	<p>Ауд. 6.19</p>
        </div>

        <div class="footer__column">
                <p class="footer__contact">
        			<span>Почта</span>
        			<a href="mailto:odnookno@mfua.ru" class="footer__link">
        				<svg width="17" height="17">
                            <use xlink:href="#email-icon"></use>
        				</svg>
        				<span>odnookno@mfua.ru</span>
        			</a>
                </p>
                <p class="footer__contact">
        			<span>Телефон</span>
        			<a href="tel:+74952211001" class="footer__link">
        				<svg width="17" height="17">
                            <use xlink:href="#phone-icon"></use>
        				</svg>
        				<span>8 (495) 221-10-01</span>
        			</a>
                </p>
                <p class="footer__contact">
                    <span>Факс</span>
                    <a href="tel:+74952320163" class="footer__link">
                       <span>8-495-232-01-63</span>
                    </a>
                </p>

        </div>

        </div>
    </div>

