{% extends './_layout.njk' %}

{% block title %}
Единая приёмная
{% endblock %}


{% block content %}

    <div class="main-info">
    	<div class="container main-info__container">
    	<div class="main-info__title-block">
    	       <h1 class="main-info__title">Единая приемная «Одно окно»</h1>
    	       <a href="#" class="main-info__link more-link">Подробнее</a>
    	</div>
    		<div class="main-info__text">
    			<p>
    			Единая приемная «Одно окно» предоставляет услуги, связанные с выдачей запрашиваемых документов и услуг. Оказание услуг концентрируется в одном месте – от подачи документов до выдачи результатов. </p>
    			<p>
    				Мы работаем над повышением оперативности процедур информационного обмена и качества предоставления наших услуг студентам, родителям, сотрудникам и преподавателям.
    			</p>
    		</div>
    	</div>
    </div>

    <div class="filter">
    	<div class="container filter__container">
    		<div class="filter__row">
    			<div class="filter__item filter__item_wide">
    			     <span class="filter__label">Раздел</span>
    				 <div class="select filter__select select-1" id="select-1" data-chapter="0"></div>
    			</div>
    			<div class="filter__item filter__item_wide" id="selectContainer">
    			    <span class="filter__label">Услуга</span>
                    <div class="select filter__select" id="select-2" data-selectIndex="0"></div>
    			</div>
    			<div class="filter__item filter__item_small" >
    			    <span class="filter__label">Доступно онлайн</span>
                    <div class="select filter__select" id="select-3"></div>
    			</div>
    			<div class="filter__item filter__button">
                    <button type="submit" class="button button_submit button_blue" id="button_submit">Показать</button>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="cards">
    	<div class="container">
    		<div class="cards__block">

    			<div class="cards__item card" data-id="5" data-sphere="1" data-service="a">
    				<div class="card__tag card__tag_blue">доступно онлайн</div>
    				<div class="card__title">Перезачет дисциплин</div>
    				<div class="card__text">Осуществляется на базе документа о среднем профессионального, высшем образовании или документа о неполном высшем образовании (справки установленного образца)</div>
    				<div class="card__buttons">
    					<a href="#" class="button button_blue button_action">
                            <svg class="button__icon" width="24" height="24">
                                <use xlink:href="#portal-icon"></use>
                            </svg>
    						<span>Портал</span>
    					</a>
    					<a href="#" class="button button_action button_grey">
                            <svg class="button__icon" width="24" height="24">
                                  <use xlink:href="#downloadDocs-icon"></use>
                            </svg>
    						<span class="button__text">Скачать документ</span>
    					</a>
    				</div>
    			</div>

    			    			<div class="cards__item card" data-id="6" data-sphere="1" data-service="a">
                    				<div class="card__tag card__tag_blue">доступно онлайн</div>
                    				<div class="card__title">Несогласие на перезачет на оценку удовлетворительно (с зачета на экзамен)</div>
                    				<div class="card__text"></div>
                    				<div class="card__buttons">
                    					<a href="#" class="button button_blue button_action">
                                            <svg class="button__icon" width="24" height="24">
                                                <use xlink:href="#portal-icon"></use>
                                            </svg>
                    						<span>Портал</span>
                    					</a>
                    					<a href="#" class="button button_action button_grey">
                                            <svg class="button__icon" width="24" height="24">
                                                 <use xlink:href="#downloadDocs-icon"></use>
                                            </svg>
                    						<span class="button__text">Скачать документ</span>
                    					</a>
                    				</div>
                    			</div>

                                <div class="cards__item card" data-id="6" data-sphere="1" data-service="a">
                     				<div class="card__tag card__tag_grey">только лично</div>
                     				<div class="card__title">Вопросы по перезачету</div>
                     				<div class="card__text">В заявлении излагаются конкретные вопросы, возникшие при перезачете дисциплин (практик)  (например, "почему не перезачтена изученная ранее дисциплина Гражданское право", указанная в документе...)</div>
                     				<div class="card__buttons">
                     					<a href="#" class="button button_action button_grey button_single">
                                             <svg class="button__icon" width="24" height="24">
                                                <use xlink:href="#downloadDocs-icon"></use>
                                             </svg>
                     						<span class="button__text">Скачать документ</span>
                     					</a>
                     				</div>
                     			</div>
    		</div>

    		<div class="cards__more">
    		    <button type="submit" class="button cards__more-btn">&#8230; Показать ещё</button>
    		</div>

    	</div>
    </div>

    <svg style="display:none;visible:hidden;">
        <symbol id="downloadDocs-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path d="M13 21.001H17C18.6569 21.001 20 19.6578 20 18.001V8.51029C20 7.71464 19.6839 6.95158 19.1213 6.38898L16.612 3.87966C16.0494 3.31705 15.2863 3.00098 14.4907 3.00098H7C5.34315 3.00098 4 4.34412 4 6.00098V13.001" stroke="#4274D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 8.50098H16.5C15.3954 8.50098 14.5 7.60555 14.5 6.50098V3.00098" stroke="#4274D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
             <path d="M7 16.001V21.001" stroke="#4274D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
             <path d="M9 19.001L7 21.001" stroke="#4274D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
             <path d="M5 19.001L7 21.001" stroke="#4274D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="portal-icon" viewBox="0 0 24 24" fill="none">
            <path d="M19 9.00098V5.00098H15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13 11.001L19 5.00098" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 13.001V15.001C20 17.7624 17.7614 20.001 15 20.001H9C6.23858 20.001 4 17.7624 4 15.001V9.00098C4 6.23955 6.23858 4.00098 9 4.00098H11" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="phone-icon" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" clip-rule="evenodd" d="M7.57064 8.76767C6.79064 7.98767 6.20264 7.11434 5.81197 6.22834C5.72931 6.04101 5.77797 5.82167 5.92264 5.67701L6.46864 5.13167C6.91598 4.68434 6.91598 4.05167 6.52531 3.66101L5.74264 2.87834C5.22197 2.35767 4.37798 2.35767 3.85731 2.87834L3.42264 3.31301C2.92864 3.80701 2.72264 4.51967 2.85598 5.22634C3.18531 6.96834 4.19731 8.87567 5.82997 10.5083C7.46264 12.141 9.36998 13.153 11.112 13.4823C11.8186 13.6157 12.5313 13.4097 13.0253 12.9157L13.4593 12.4817C13.98 11.961 13.98 11.117 13.4593 10.5963L12.6773 9.81434C12.2866 9.42367 11.6533 9.42367 11.2633 9.81434L10.6613 10.417C10.5166 10.5617 10.2973 10.6103 10.11 10.5277C9.22397 10.1363 8.35064 9.54767 7.57064 8.76767Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>

        <symbol id="email-icon" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        	<path d="M5.33203 6.50438L7.28316 7.70731C7.92698 8.10424 8.73959 8.10424 9.38341 7.70731L11.3345 6.50438" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
        	<rect x="2.33081" y="3.3364" width="12.005" height="9.33722" rx="3" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
        </symbol>
    </svg>
{% endblock %}

{% block footer %}
    <h2>Hello!</h2>
{% endblock %}
